@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* cdd7d6 grey
f87060 - pink
102542 -blue */

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   
}

.header-container{
   display: flex;
   height: 10rem;
   width: 100%;
   align-items: center;
   justify-content: center;
   background-color: #cdd7d6;
   -webkit-box-shadow: 0px 14px 32px -3px rgba(16,37,66,0.62);
   -moz-box-shadow: 0px 14px 32px -3px rgba(16,37,66,0.50);
   box-shadow: 0px 14px 32px -3px rgba(16,37,66,0.62);


}
.nav-item{
   padding: 1rem;
   text-decoration: none;
   font-size: 1rem;
   color: #102542;

}

.content-body{
   display: flex;
   flex-direction: column;
   margin-left: 5%;
   margin-right: 5%;
}
.user-type{
   margin-top: 2rem;
   font-weight: 500;
   font-size: 2rem;
   color: #102542;
   border-bottom: 0.5px solid #102542;

}
.body-instru{
   font-size: 1rem;

}
.body-heading{
   font-size: 1.5rem;
   font-weight: 500;
   margin-top: 3rem;
   margin-bottom: 1rem;

}


.btn{
   margin: 1rem;
 display: inline-block;
outline: none;
cursor: pointer;
 font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
 letter-spacing: 2px;
 min-width: 160px;
text-transform: uppercase;
  white-space: normal;
font-weight: 700;
text-align: center;
padding: 16px 14px 18px;
color: #fff;
 background-color: #102542;
height: 48px;
:hover{
     background-color: #234779;
}
                
}


/* 
.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: crimson;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
} */